pyobjc-core>=11.1,<12; python_version < "3.10"
pyobjc-framework-Cocoa>=11.1,<12; python_version < "3.10"
pyobjc-framework-Quartz>=11.1,<12; python_version < "3.10"
pyobjc-framework-CoreText>=11.1,<12; python_version < "3.10"
pyobjc-framework-ApplicationServices>=11.1,<12; python_version < "3.10"
pyobjc-framework-Cocoa>=12.2.1; python_version >= "3.10"
pyobjc-framework-Quartz>=12.2.1; python_version >= "3.10"
pyobjc-framework-ApplicationServices>=12.2.1; python_version >= "3.10"
